<%# スポットリスト %>
<section class="row-section">
  <div class="container">
    <h2 class="text-center"><span>Spot List</span></h2>
    <div class="text-right">
      <%= render "search" %>
    </div>
    <br class="my-5">
    <div class="card">
      <%= render "spot" %>
    </div>
  </div>
</section>
<br>
<p><%= paginate @spots %></p>



