<h1>ユーザー一覧</h1>
<p>Find me in app/views/users/index.html.erb</p>

<% @users.each do |user| %>
  <hr>
  <p><span>プロフィール画像: </span><%=link_to user.avatar, user_path(user.id) %></p>
  <p><span>ユーザー名: </span><%=link_to user.user_name, user_path(user.id) %></p>
  <p><span>メールアドレス: </span><%=link_to user.email, user_path(user.id) %></p>
<% end %>