/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

body {
  padding-top: 45px;
  background-color: #e5f8fd;
  color: rgb(107, 107, 107);
}

// devise関連
.mw-md {
  max-width: 576px;
}

// それ以外
.mw-xl {
  max-width: 1200px;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

div.field_with_errors {
  display: contents;
  input {
    border: 2px solid red;
  }
}

// タイトル
.row-section h2 {
  float:left; width:100%;
  color: black;
  margin-bottom: 30px;
  font-size: 14px;
}
.row-section h2 span {
  font-family: 'Libre Baskerville', serif;
  display: block;
  font-size: 45px;
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 700;
}

.jumbotron-extend {
  position: relative;
  height: 100vh;
  height: 70vh;
  min-height: 200px;
  background: url(/assets/jeshoots-com-LKREcvZeoJQ-unsplash.jpg);
  background-size: cover;
  opacity: 0.7;
}

.jumbotron-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 30px;
  padding-right: 30px;
}

.row {
  border-radius: 1rem;
}

.text-up {
  height: 100%;
  color: rgba(252, 246, 246, 0.63);
}

.site-name {
  margin-bottom: 40px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.bg-primary {
  background-color: #0000FF !important;
  color: #fff;
}
.btn-primary {
  background-color: #0000FF !important;
  color: #fff;
}

.btn-warning {
  background-color: #FF6928 !important;
  color: #fff;
}


.btn-info {
  background-color: #30F9B2 !important;
  color: #fff;
  border: #30F9B2;
}

.btn-add {
  background-color: #ffac5e !important;
  color: #fff;
}

.info {
  color: #30F9B2;
  border: #30F9B2;
}

.info-c {
  color: #077a52;
  border: #077a52;
}

.warning {
  color: #FF6928;
}

.primary {
  color: #0000FF;
}

h5 {
  font-weight: bold;
}

.bg-top {
  background-color: #F0F8FF;
}
