// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// アイコン
.circle-avatar img {
  width: 175px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 15px;
}


.row-section h2 {
  float:left; width:100%;
  color: black;
  margin-bottom: 30px;
  font-size: 14px;
}
.row-section h2 span {
  font-family: 'Libre Baskerville', serif;
  display: block;
  font-size: 45px;
  text-transform: none;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 700;
}
.row-section .row-block {
  background: #fff;
  padding: 20px;
  margin-bottom: 50px;
}
.row-section .row-block ul {
  margin: 0;
  padding: 0;
}
.row-section .row-block ul li {
  list-style: none;
  margin-bottom: 20px;
}
.row-section .row-block ul li:last-child {
  margin-bottom: 0;
}
.row-section .row-block ul li:hover {
  cursor: grabbing;
}
.row-section .row-block .media {
  border: 1px solid #d5dbdd;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 1px rgba(0,0,0,0.04);
  background: #fff;
}
.row-section .media .media-left img {
  width: 75px;
}
.row-section .media .media-body p {
  padding: 0 15px;
  font-size: 20px;
}
.row-section .media .media-body h4 {
  color: orange;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  padding-left: 14px;
  margin-top: 12px;
}
