<div class="nested-fields field">
  <div>目的地</div>
  <div class="col-md-6">
    <label class="control-label">予定時刻</label>
      <%= f.time_field :specified_time, class: 'form-control' %> <br>
  </div>
  <div class="col-md-6">
    <label class="control-label">スポット</label>
      <%= f.text_field :spot_id, class: 'form-control' %> <br>
  </div>
</div>
