<%# プラン編集 %>
<div class="container contact">
  <div class="row border">
    <div class="col-md-3">
      <div class="contact-info">
        <h2>Edit Plan</h2>
        <h6>計画を変更できます！</h6> <br>
          <div class="text-left">
            <%= link_to "キャンセル", plan_path, class: "btn btn-info" %>
          </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="contact-form">
        <%= render "form" %>
      </div>
  </div>
</div>